html
  head
    script(src='/amcharts/amcharts.js')
    script(src='/amcharts/serial.js')
    script(src='/amcharts/themes/light.js')
    script(src='/amcharts/amstock.js')
    script(src='/javascripts/test2.js')
    
  body
    #chartdiv(style='width:100%; height:100%')